version: '3.7'
services:
  grafana:
    image: grafana/grafana-enterprise:${GR_VERSION:-8.4.7}
    container_name: yesoreyeram-grafana-plugins
    ports:
      - '3000:3000'
    volumes:
      - ./plugins:/var/lib/grafana/plugins
      - ./data/provisioning/datasources:/etc/grafana/provisioning/datasources
    environment:
      - TERM=linux
      - GF_DEFAULT_APP_MODE=development
      - GF_SECURITY_ADMIN_USER=grafana
      - GF_SECURITY_ADMIN_PASSWORD=grafana
      - GF_ENTERPRISE_LICENSE_TEXT=$GF_ENTERPRISE_LICENSE_TEXT