go 1.19

use (
	./anyframer
	./restds
	./plugins/yesoreyeram-blank-datasource
	./plugins/yesoreyeram-hello-datasource
	./plugins/yesoreyeram-petstore-datasource
	./plugins/yesoreyeram-vercel-datasource
)
