go 1.20

use (
	./
	./lib/go/gframer
	./lib/go/anyframer
	./lib/go/jsonframer
	./lib/go/csvframer
	./lib/go/xmlframer
	./lib/go/macros
	./lib/go/restds
	./lib/go/utils
	./plugins/yesoreyeram-blank-datasource
	./plugins/yesoreyeram-hello-datasource
	./plugins/yesoreyeram-petstore-datasource
	./plugins/yesoreyeram-vercel-datasource
)
