name: Backed libs Test, Lint and Build
on:
  pull_request:
    paths:
      - "lib/go/**"
  push:
    branches:
      - main
    paths:
      - "lib/go/**"
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 16.19.1
      - name: Setup Go environment
        uses: actions/setup-go@v4
        with:
          go-version: "1.20.4"
      - name: Install mage
        run: |
          go install github.com/magefile/mage@latest
      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.53.3
      - name: Install turbo
        run: |
          yarn global add turbo@1.10.6
      - name: Validate environment
        run: |
          echo "-------- node version -----"
          node --version
          echo "-------- npm version -----"
          npm --version
          echo "-------- yarn version -----"
          yarn --version
          echo "-------- go version -----"
          go version
          echo "-------- mage version -----"
          mage --version
          echo "-------- golangci-lint version -----"
          golangci-lint --version
          echo "-------- turbo version -----"
          turbo --version
      - name: Lint backend
        run: |
          yarn lint:backend
      - name: Test backend
        run: |
          yarn test:backend
